@import url("css/header.css");
@import url("css/main.css");
@import url("css/rodapé.css");

:root{
    --branco: #FFF2E7;
    --fonte-principal: 'Sarala', sans-serif;
    --fonte-secundaria: 'Righteous';
    --bege: #ECD6C4;
    --cor-botão: #2F2325;

}

body {
    font-family: var(--fonte-principal);
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%) no-repeat;
    font-size: 18px;
    font-weight: 400;
    color: var(--branco);
}